
.landingPage {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orange;    
}

.googleSign {
    margin-left: 30%;
    margin-top: 20%;
}

.aboutBlock{
    margin: 4%;
    padding: 3%;
    background-color:rgb(214, 119, 2);
}

.subTitle{
    font-size: 5em;
    font-weight: 700;
    color:white;
}

.about{
    
    font-size: 2.5em;
    font-weight: 200;
    color:white;
}


.logBlock{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10%;
    padding: 5%;
    background-color:hsl(32, 66%, 72%);
}

.logTitle{
    text-align: center;
    font-size: 6em;
    font-weight: 600;
    color: rgb(211, 105, 63);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logText{
    font-size: 2em;
    font-weight: 700;
}



