
.landingPage {
    padding-top: 20px;
    background-color: gray;
    margin-left: 0;
    background-image: url("orange.jpg") ;


    
}

.back {
    padding-top: 95px;
    padding-right: 100px;
    background-size: 125%;
    background-image: url("image.png") ;
    background-repeat: no-repeat;
    background-position: 67%;
    background-attachment: fixed;

    height: '100vh';
    
}

