.navbar {
    align-items: center;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    height: 65px;
    position: fixed;
    top: 0;
    transition: all 0.4s ease;
    width: 100%;
    z-index: 3;
}