.footer {
    background-color: darkgoldenrod;
    height: 5cm;
}

.footText{
    margin-top: 1%;
    margin-left: 1%;
    color: rgba(0, 0, 0, 0.575);
}

.title{
    margin-top: 1%;
    margin-right: 10%;
    color: rgba(0, 0, 0, 0.575);
    float: right;
    font-size: 50px;
}